:root {
    --side-bar-bg-color: #fafafa;
    --control-text-color: #777;
    --bg-img: url(./mystyle/bg.jpg);
    --write-bg-color: oldlace;
    --text-color: black;
    --a-color: cornflowerblue;
    --h1-underline-style: double;
    --h1-underline-color: dimgray;
    --line-style: dashed;
    --line-color: dimgray;
    --meta-color: red;
    --blockquote-bg-color: transparent;
    --blockquote-color: limegreen;
    --blockquote-text-color: darkgray;
    --blockquote-a-color: orangered;
    --code-bg-color: seashell;
    --code-border-color: brown;
    --codeblock-bg-color: seashell;
    --codeblock-border-color: brown;
    --table-border-color: lightgray;
    --table-title-bg-color: antiquewhite;
    --table-odd-bg-color: ghostwhite;
    --table-even-bg-color: whitesmoke;
    --table-hover-bg-color: bisque;
    --img-shadow-color: darkslategray;
    --img-border-color: burlywood;
}

/* pt-serif-regular - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 450;
    src: local('PT Serif'), local('PTSerif-Regular'), url('./newsprint/pt-serif-v11-latin-regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* pt-serif-italic - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: normal;
    src: local('PT Serif Italic'), local('PTSerif-Italic'), url('./newsprint/pt-serif-v11-latin-italic.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* pt-serif-700 - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: bold;
    src: local('PT Serif Bold'), local('PTSerif-Bold'), url('./newsprint/pt-serif-v11-latin-700.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* pt-serif-700italic - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: bold;
    src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url('./newsprint/pt-serif-v11-latin-700italic.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    font-size: 18px;
    background: var(--bg-img);
    background-repeat: repeat;
    /* background-position: center;
    background-size: cover; */
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "PT Serif", 'Times New Roman', Times, serif, 'Segoe UI Emoji';
    color: var(--text-color);
    line-height: 1.5;
}

#write {
    max-width: 860px;
    margin: 45px auto;
    padding: 10px 30px;
    padding-bottom: 100px;
    background-color: var(--write-bg-color);
}

@media only screen and (min-width: 1400px) {
    #write {
        max-width: 1024px;
    }
}

@media only screen and (min-width: 1800px) {
    #write {
        max-width: 1200px;
    }
}

#write>ul:first-child,
#write>ol:first-child {
    margin-top: 30px;
}

a {
    color: var(--a-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: .75rem;
    margin-bottom: .75rem;
    font-weight: bold;
    line-height: 1.75;
    cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}

h1 tt,
h1 code {
    font-size: inherit;
}

h2 tt,
h2 code {
    font-size: inherit;
}

h3 tt,
h3 code {
    font-size: inherit;
}

h4 tt,
h4 code {
    font-size: inherit;
}

h5 tt,
h5 code {
    font-size: inherit;
}

h6 tt,
h6 code {
    font-size: inherit;
}

h1 {
    font-size: 2.25em;
    line-height: 2;
    border-bottom: 4px var(--h1-underline-style);
    border-color: var(--h1-underline-color);
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

p,
blockquote,
ul,
ol,
dl,
table {
    margin: 0.8em 0;
}

li>ol,
li>ul {
    margin: 0 0;
}

hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: transparent;
    border-bottom: 2px var(--line-style) var(--line-color);
    overflow: hidden;
    box-sizing: content-box;
}

li p.first {
    display: inline-block;
}

ul,
ol {
    padding-left: 30px;
}

ul:first-child,
ol:first-child {
    margin-top: 0;
}

ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

.CodeMirror-lines {
    padding-left: 4px;
}

.code-tooltip {
    box-shadow: 0 1px 1px 0 rgba(0, 28, 36, .3);
    border-top: 1px solid #eef2f2;
}

.md-fences,
code,
tt {
    border-radius: 5px;
    font-size: 0.9em;
}

code {
    padding: 5px;
    border: 1px dashed var(--code-border-color);
    background-color: var(--code-bg-color);
}

.md-fences {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
    border: 1px dashed var(--codeblock-border-color);
    background-color: var(--codeblock-bg-color);
}

.md-task-list-item>input {
    margin-left: -1.3em;
}

blockquote {
    position: relative;
    display: block;
    margin: 37px auto;
    padding: 0 12px;
    text-align: left;
    line-height: 160%;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    color: var(--blockquote-text-color);
    border-left: 3px solid var(--blockquote-color);
    background-color: var(--blockquote-bg-color);
}

blockquote:before {
    content: "";
    width: 12px;
    height: 8.5px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAARCAYAAADHeGwwAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFBSURBVHgB7ZQ/UoNAFMa/t6BhYiF2ig2d2HGE5AYeIZwgeoLEk2S8QTxBcgNbxopGTReqmCjsk2UmCMifJDPOWPgVDLvzvd/7WN4s8Mui8gbbpgmjO2SGS5uVR0EYtkE+nfMemG4E0anmv3q1Dfj6YihBYzBMtZaQ/SN/Ma8Dp2E6JyNJfLvdSxoUmHpmdqyRZIyxh7jTnTGx2+QR6hE5lwOJHJwQJuv7xvRJICbk4BwIyEHZl35OfGU9ITMrI/fJXwS1cNs2pfGxzCCEKb1X/y+hzMglkWCvCZ4GOt70CilZ3tUNg4iMdeEMm47lu0qY21cGz5sC6eWN2LEmP3igBPLyUAUgJreqhiU/6s9vU1IzLCBmaFF+ZNVQEHjSViPWqzOBHUXQbOypyDDcnRscqv8Gf6ABx1rrdaykiWiJA/QFHEl+W66g4YEAAAAASUVORK5CYII=") no-repeat;
    display: block;
    background-size: contain;
    line-height: 160%;
    margin-left: 4px;
    margin-bottom: 7.2px
}

blockquote p {
    font-weight: 500;
    font-size: 17px;
    line-height: 160%
}

blockquote p:last-child {
    margin-bottom: 0
}

blockquote a {
    color: var(--blockquote-a-color);
}

blockquote blockquote {
    padding-right: 0;
}

table {
    padding: 0;
    border: 1px solid var(--table-border-color);
    border-collapse: collapse;
    word-break: initial;
}

table th {
    margin: 0;
    padding: 6px 13px;
    font-weight: bold;
    border: 1px solid var(--table-border-color);
    border-bottom: 0;
    background-color: var(--table-title-bg-color);
}

table td {
    margin: 0;
    padding: 6px 13px;
    border: 1px solid var(--table-border-color);
}

table td,
table th {
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0 18px;
    height: 40px;
    min-width: 0;
    transition: background-color .25s ease;
    -webkit-box-sizing: border-box;
    -webkit-transition: background-color .25s ease;
}

table th:first-child,
table td:first-child {
    margin-top: 0;
}

table th:last-child,
table td:last-child {
    margin-bottom: 0;
}

table tr {
    margin: 0;
    padding: 0;
    border: 1px solid var(--table-border-color);
    background-color: var(--table-odd-bg-color);
}

table tr:nth-child(2n),
thead {
    background-color: var(--table-even-bg-color);
}

table tr:hover>td {
    background-color: var(--table-hover-bg-color);
    background-clip: padding-box
}

img {
    border-radius: 8px;
    border: 8px solid var(--img-border-color);
    box-shadow: 0px 15px 35px 1px var(--img-shadow-color);
}

@media print {
    html {
        font-size: 14px;
    }

    table,
    pre {
        page-break-inside: avoid;
    }

    pre {
        word-wrap: break-word;
    }
}

.md-blockmeta {
    color: var(--meta-color);
    font-weight: 700;
    font-style: italic;
}

.md-meta {
    color: var(--meta-color);
}

#write pre.md-meta-block {
    padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    color: #777777;
    margin-top: 0 !important;
}

.mathjax-block>.code-tooltip {
    bottom: .375rem;
}

.md-mathjax-midline {
    background: #fafafa;
}

#write>h3.md-focus:before {
    left: -1.5rem;
    top: .35rem;
}

#write>h4.md-focus:before {
    left: -1.5rem;
    top: .3rem;
}

#write>h5.md-focus:before {
    left: -1.5rem;
    top: .3rem;
}

#write>h6.md-focus:before {
    left: -1.5rem;
    top: .3rem;
}

.md-image>.md-meta {
    /*border: 1px solid #ddd;*/
    border-radius: 3px;
    padding: 2px 0px 0px 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag {
    color: #a7a7a7;
    opacity: 1;
}

.md-toc {
    margin-top: 20px;
    padding-bottom: 20px;
}

.sidebar-tabs {
    border-bottom: none;
}

#typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

#typora-quick-open-item {
    background-color: #FAFAFA;
    border-color: #FEFEFE #e5e5e5 #e5e5e5 #eee;
    border-style: solid;
    border-width: 1px;
}

/** focus mode */
.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

header,
.context-menu,
.megamenu-content,
footer {
    font-family: "Segoe UI", "Arial", sans-serif;
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state {
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    background-color: #fafafa;
    background-color: var(--side-bar-bg-color);
}

.md-lang {
    color: #b4654d;
}

/*.html-for-mac {
    --item-hover-bg-color: #E6F0FE;
}*/

#md-notification .btn {
    border: 0;
}

.dropdown-menu .divider {
    border-color: #e5e5e5;
    opacity: 0.4;
}

.ty-preferences .window-content {
    background-color: #fafafa;
}

.ty-preferences .nav-group-item.active {
    color: white;
    background: #999;
}

.menu-item-container a.menu-style-btn {
    background-color: #f5f8fa;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0));
}